@model TARge21Shop.Models.Car.CarCreateUpdateViewModel

@if (Model.Id.HasValue)
{
        <h1>Update</h1>
}
else
{
        <h1>Create</h1>
}

<div>
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />              

        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label> 
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Type" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Type" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="EnginePower" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="EnginePower" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Weight" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Weight" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Lenght" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Lenght" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Width" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Width" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="MaxSpeed" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="MaxSpeed" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Mileage" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Mileage" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="FuelType" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="FuelType" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="FuelConsumption" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="FuelConsumption" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="ProductionDate" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ProductionDate" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Files" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <div class="custom-file">
                    <input class="form-control custom-file-input" asp-for="Files" multiple type="file" />
                    <label class="custom-file-label">Choose File...</label>
                </div>
            </div>
        </div>
        <hr />


        @if (Model.Id.HasValue)
        {
                <input asp-action="Update" asp-controller="cars" type="submit" class="btn btn-primary" value="Update" />
        }
        else
        {
                <input asp-action="Create" asp-controller="cars" type="submit" class="btn btn-primary" value="Create" />
        }

        <a asp-action="index" class="btn btn-primary">Back</a>

    </form>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            });
        });
    </script>
}